<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <h1>Cat</h1>
    <p>My second route is to this really cool cat</p>
    <img src="/images/cool-cat.jpeg" alt="cool cat" width="200" />

    <a href="/home">Back to home</a>
  </body>
</html>
