<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://wallpaperaccess.com/full/103106.jpg" class="card-img-top" alt="Players">
        <div class="card-body">
          <h5 class="card-title">Players</h5>
          <p class="card-text">Check the top NBA players</p>
          <a href="/players" class="btn btn-primary">See Players</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_OERZ8iocfWup4uRUhjxY_zncbKN02QawHJMqp9qa2RjC6PaI"
          class="card-img-top" alt="Teams">
        <div class="card-body">
          <h5 class="card-title">Teams</h5>
          <p class="card-text">Check the top NBA teams.</p>
          <a href="/teams" class="btn btn-primary">See teams</a>
        </div>
      </div>
    </div>
  </div>
</div>