<h1>Welcome!</h1>

<form action="/search" method="get">
  <label>
    <input type="text" name="city">
  </label>

  <label>
    <input type="date" name="start-date">
  </label>

  <label>
    <input type="date" name="end-date">
  </label>

  <button type="submit">Search</button>
</form>