<form action="/login" method="post">
  <label> Email
    <input type="email" name="email">
  </label>

  <label> Password
    <input type="password" name="password" placeholder="password">
  </label>

  <button type="submit">Login</button>
</form>