<h2>Add an author</h2>

<form action="/authors/create" method="post">
  <label>
    Name
    <input type="text" name="name">
  </label>

  <label>
    Bio
    <textarea name="bio" cols="30" rows="3"></textarea>
  </label>

  <label>
    Picture
    <textarea name="picture_url" cols="30" rows="2"></textarea>
  </label>

  <button type="submit">Add author</button>
</form>